@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display');

/*
font-family: 'DM Serif Display', serif; okaaaay

font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/

html{
    scroll-behavior: smooth;
}
:root{
    --positive-color: rgb(0, 100, 0);
    --primary: #9A90A9;
    --secondary: #7AA49D;
    --tertiary: #EEF1E9;

    --transparent: transparent;
    --white: #fff;
    --lightergrey: #eee;
    --lightgrey: #ddd;
    --grey: #ccc;
    --greyer: #aaa;
    --darkgrey: #555;
    --darkergrey: #333;
    --black: #000;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color:inherit;
}
body{
    background-color: var(--lightergrey);
}

/* ============================== */

.button{
    outline: none;
    border: 1px solid var(--primary);
    padding: 8px;
    transition: 0.15s;
    border-radius: 4px;
    color: var(--darkgrey);
}
.button:hover{
    cursor: pointer;
    background-image: linear-gradient(to left, var(--primary), var(--secondary));
    color: var(--tertiary);
    border: 1px solid var(--transparent);
}

/* ============================== */

header{
    background-image: url(./imagens/header-image.jpg);
    background-size: cover;
    position: relative;
    height: 250px;
    box-shadow: 0 0 0.4em var(--greyer);
    display: flex;
    justify-content: flex-end;
}
header>#img-perfil{
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 0 0.4em var(--greyer);
    border: 3px solid var(--primary);
}
header>h1{
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%);
    color: var(--tertiary);
    white-space: nowrap;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.1em;
}

header>nav{
    display: flex;
    align-items: center;
    height: 80px;
    width: 290px;
    justify-content: space-between;
    color: var(--tertiary);
    margin-right: 30px;
    font-size: 12px;
}
header>nav>a{
    transition: 0.2s;
}
header>nav>a:hover{
    color: var(--white);
}
.nav-divider{
    height: 20px;
    width: 1px;
    background-color: var(--tertiary);
}

#link-escola{
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
}
.cards{
    width: 280px;
    margin: 0 10px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 0 0.2em var(--greyer);
    overflow: hidden;
}
.cards>p{
    font-size: 13px;
    margin: 2px 7px 2px 16px;
    color: var(--darkgrey);
}
.cards>a{
    margin: 15px;
    font-size: 13px;
    text-align: center;
}
.card-header{
    text-align: center;
    background-image: linear-gradient(to bottom left, var(--primary), var(--secondary));
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 8px;
}
.card-header>h2{
    font-size: 17px;
    color: var(--tertiary);
    margin-bottom: 3px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.1em;
}
#sobre-mim{
    background-color: var(--lightgrey);
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}
#sobre-mim-div{
    background-color: var(--white);
    box-shadow: 0 0 0.2em var(--greyer);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#sobre-mim-div>img{
    border-radius: 5px;
}
#sobre-mim-info{
    margin-left: 20px;
}
#sobre-mim-info>h3{
    color: var(--secondary);
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    margin: 7px 0;
}
#sobre-mim-info>p{
    width: 250px;
    color: var(--darkgrey);
}
#info-date{
    margin-top: 43px;
}
footer{
    height: 200px;
    background-image: linear-gradient(to bottom left, var(--primary), var(--secondary));
}

@media screen and (max-width: 620px){
    #sobre-mim-div{
        width: 300px;
    }
}
@media screen and (max-width: 640px){
    .cards{
        width: 140px;
    }
}
