@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display');

/*
font-family: 'DM Serif Display', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/

html{
    scroll-behavior: smooth;
}
:root{
    --positive-color: rgb(0, 100, 0);
    --primary: #9A90A9;
    --secondary: #7AA49D;
    --tertiary: #EEF1E9;

    --transparent: transparent;
    --white: #fff;
    --lightergrey: #eee;
    --lightgrey: #ddd;
    --grey: #ccc;
    --greyer: #aaa;
    --darkgrey: #555;
    --darkergrey: #333;
    --black: #000;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color:inherit;
    flex-shrink: 0;
}
body{
    background-color: var(--lightergrey);
}

/* ============================== */

.button{
    outline: none;
    border: 1px solid var(--primary);
    padding: 8px;
    transition: 0.2s;
    border-radius: 4px;
    color: var(--darkgrey);
}
.button:hover{
    cursor: pointer;
    background-image: linear-gradient(to left, var(--primary), var(--secondary));
    color: var(--tertiary);
    border: 1px solid var(--transparent);
}

/* ============================== */

header{
    background-image: url(../imagens/home-imagens/header-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:contain;
    position: relative;
    height: 250px;
    box-shadow: 0 0 0.4em var(--greyer);
    display: flex;
    justify-content: flex-end;
}
header>#img-perfil{
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 0 0.4em var(--greyer);
    border: 3px solid var(--primary);
}
header>h1{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    color: var(--tertiary);
    white-space: nowrap;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.1em;
    text-align: center;
}
header>nav{
    display: flex;
    align-items: center;
    height: 80px;
    width: 290px;
    justify-content: space-between;
    color: var(--tertiary);
    margin-right: 30px;
    font-size: 12px;
}
header>nav>a{
    transition: 0.2s;
}
header>nav>a:hover{
    color: var(--white);
}
.nav-divider{
    height: 20px;
    width: 1px;
    background-color: var(--tertiary);
}

/* CARDS */
#modulos-section{
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cards{
    width: 250px;
    margin: 0 8px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 0 0.2em var(--greyer);
    overflow: hidden;
}
.cards>p{
    font-size: 16px;
    margin: 3px 16px;
    color: var(--darkgrey);
}
.cards>a{
    margin:  10px 15px 15px;
    font-size: 13px;
    text-align: center;
}
.card-header{
    text-align: center;
    background-image: linear-gradient(to bottom left, var(--primary), var(--secondary));
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 8px;
}
.card-header>img{
    margin: 5px 0;
    vertical-align: bottom;
}
.card-header>p{
    font-size: 12px;
    color: var(--tertiary);
    font-weight: bold;
    letter-spacing: 0.1em;
}
.card-header>h2{
    font-size: 17px;
    color: var(--tertiary);
    margin-bottom: 3px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.1em;
}

/* FOOTER */
footer{
    padding: 20px;
    color: var(--tertiary);
    background-image: linear-gradient(to bottom left, var(--primary), var(--secondary));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-div img{
    filter: invert(100%);
}
.footer-div>p, img{
    margin-bottom: 15px;
}
.footer-div>h4{
    font-size: 20px;
    margin-bottom: 15px;
}
#footer-header{
    align-items: center;
}
#footer-header>.button{
    border: 1px solid var(--grey);
    color: var(--darkgrey);
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    color: var(--tertiary);
}
#footer-header>.button:hover{
    scale: 1.05;
}
#footer-header>h3{
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.1em;
    font-size: 40px;
}
#footer-header>img{
    margin-top: 10px;
    width: 40px;
}

@media screen and (max-width: 620px){
    .cards{
        width: 140px;
    }
}
